<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ShiftTech Credit Card Application</title>
</head>
<body ng-app="shifttech">
	<hr />
	<div class="container" ng-controller="CreditCardController">
		<div class="row">
			<label>Credit Card</label> <input type="text"
				ng-model="creditCard.number" class="input-sm spacing"
				placeholder="Credit Card Number" />

			<button ng-click="storeCreditCard()" class="btn btn-sm btn-info">Validate
				Credit Card Number</button>

			<span ng-if="creditCard.valid != null"> <span
				ng-model="creditCard.valid" ng-if="creditCard.valid"">Valid
					Credit Card!</span> <span ng-model="creditCard.valid"
				ng-if="!creditCard.valid"">Invalid Credit Card!</span>
			</span> <span ng-if="creditCard.banned != null"> <span
				ng-model="creditCard.banned" ng-if="creditCard.banned"">Banned
					Credit Card!</span> <span ng-model="creditCard.banned"
				ng-if="!creditCard.banned"">Not Banned Credit Card!</span>
			</span>
		</div>

		<hr />

		<h2 class="row" ng-if="creditCards.length > 0">Validated Credit
			Cards</h2>

		<div class="row" ng-repeat="creditCard in creditCards">Credit
			Card Number: {{creditCard.number}}</div>
	</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/CreditCardController.js"></script>
<script src="js/app/CreditCardService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="css/app/app.css" />
</html>